.App{

}
.Header{

}
.AboutPage{

}
.AboutHeader{

}
.AboutPage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 500;
  
    line-height: 50px;
    background-color: aliceblue;
  }
  .AboutHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    color: black;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
    background-image: url(../public/pexels-christina-morillo-1181519.jpg);
    background-repeat: no-repeat;
    background-position: fit-content;
    background-size: cover;
  }
  
  .AboutHeader h1 {
    font-size: 100px;
    font-weight: 500;
    color: rgb(100, 151, 245);
  }